<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/rentalproperties">RentAHouse</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/rentalproperties" routerLinkActive="active" >Rental Properties <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sell" routerLinkActive="active">Rent Your House</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact us</a>
        </li>
      </ul>
      <button class="btn btn-outline-success my-2 my-sm-0 button" routerLink="/login" *ngIf="!loggedIn">Login</button>
      <button class="btn btn-outline-success my-2 my-sm-0 button" routerLink="/signup" *ngIf="!loggedIn">Sign up</button>
      <button class="btn btn-outline-success my-2 my-sm-0 button" *ngIf="loggedIn" (click)="logout()">Logout {{user}}</button>
    </div>
  </nav>

  <router-outlet></router-outlet>